@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles */

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }
}
















@keyframes falling {
  from {
    transform: translateY(-900%);
  }
  to {
    transform: translateY(400);
  }
}

.animation-falling {
  animation: falling 1s ease forwards;
}

.service_li {
  transition: all 0.3s ease;
}

.service_li:hover {
  font-size: 55px; 
  text-decoration: underline;
  text-decoration-color: green;
  text-underline-offset: 3px; 
}



.input-textbox {
  font-family: 'Neue Machina', sans-serif;
  width: 100%;
  height: 65px;
  background-color: black;
  border-bottom-width: 2px;
  border-bottom-color: #4E4E4E;
}

.input-textbox:focus {
  outline: none;
}


.submit_btn {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
}

.submit_btn:hover {
  background-color: #01B582;
}
.prose h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #01B582 ;
}

.prose h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: #01B582 ;
}